openapi: 3.0.1
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  description: "### Introduction\r\n\r\nThis page documents the LUSID Access Management\
    \ APIs from FINBOURNE Technology, which allow authorised users to query and update\
    \ their access control policies and roles within the LUSID platform's Identity\
    \ and Access Management system.\r\n\r\n"
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Access Management API
  version: 0.0.3566
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
servers:
- url: https://fbn-prd.lusid.com/access
security:
- {}
tags:
- description: Methods for querying application metadata
  name: Application Metadata
- description: Endpoints for interacting with the current user's access rights
  name: Policies
- description: Endpoints for administering Roles
  name: Roles
- description: Endpoints for administering user-roles
  name: User-roles
paths:
  /api/me:
    get:
      description: Gets all Policies for the current user
      operationId: GetOwnPolicies
      parameters:
      - description: Optional. Filter on the applications that the policies apply
          to
        explode: true
        in: query
        name: applications
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: Optional. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Order the results by these fields. Use use the '-'
          sign to denote descending order e.g. -MyFieldName
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "Optional. When paginating, skip this number of results"
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "Optional. When paginating, limit the number of returned results\
          \ to this many."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Optional. Expression to filter the result set
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
              - sourceRole:
                  scope: default
                  code: example-source-role
                roleHierarchyIndex: 50
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                policyType: Entitlement
                id:
                  scope: default
                  code: official-portfolios-read-only
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/AttachedPolicyDefinitionResponse'
                type: array
            application/json:
              example:
              - sourceRole:
                  scope: default
                  code: example-source-role
                roleHierarchyIndex: 50
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                policyType: Entitlement
                id:
                  scope: default
                  code: official-portfolios-read-only
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/AttachedPolicyDefinitionResponse'
                type: array
            text/json:
              example:
              - sourceRole:
                  scope: default
                  code: example-source-role
                roleHierarchyIndex: 50
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                policyType: Entitlement
                id:
                  scope: default
                  code: official-portfolios-read-only
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/AttachedPolicyDefinitionResponse'
                type: array
          description: Get policies and licences of current user
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "GetOwnPolicies: Get policies of requesting user"
      tags:
      - Policies
      x-fbn-apistatus: Stable
      x-accepts: application/json
    post:
      description: "Given a dictionary of evaluation requests (keyed by any arbitrary\
        \ correlation identifier), each will be evaluated according to the current\
        \ user's policies (deduced from the provided OAuth token)."
      operationId: Evaluate
      parameters:
      - description: Optional. The application type of the roles and policies to use
          when evaluating.
        explode: true
        in: query
        name: applications
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: Optional. The requested AsAt date of the entitlements
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      requestBody:
        content:
          application/json-patch+json:
            example:
              data-access-page-evaluation:
                request:
                  action:
                    entityCode: WebSitePage
                    scope: FINBOURNE
                    activity: SeeAdminControls
                  toEffectiveDate: 2018-12-08T13:30:00.0000000+00:00
                  toAsAt: 2018-12-31T11:00:00.0000000+00:00
                resource:
                  id:
                    scope: FINBOURNE
                    code: DataAccessPage
                  metadata:
                    RequiredLicence:
                    - provider: WebsiteAccess
                      value: FINBOURNE
            schema:
              additionalProperties:
                $ref: '#/components/schemas/EvaluationRequest'
              type: object
          application/json:
            example:
              data-access-page-evaluation:
                request:
                  action:
                    entityCode: WebSitePage
                    scope: FINBOURNE
                    activity: SeeAdminControls
                  toEffectiveDate: 2018-12-08T13:30:00.0000000+00:00
                  toAsAt: 2018-12-31T11:00:00.0000000+00:00
                resource:
                  id:
                    scope: FINBOURNE
                    code: DataAccessPage
                  metadata:
                    RequiredLicence:
                    - provider: WebsiteAccess
                      value: FINBOURNE
            schema:
              additionalProperties:
                $ref: '#/components/schemas/EvaluationRequest'
              type: object
          text/json:
            example:
              data-access-page-evaluation:
                request:
                  action:
                    entityCode: WebSitePage
                    scope: FINBOURNE
                    activity: SeeAdminControls
                  toEffectiveDate: 2018-12-08T13:30:00.0000000+00:00
                  toAsAt: 2018-12-31T11:00:00.0000000+00:00
                resource:
                  id:
                    scope: FINBOURNE
                    code: DataAccessPage
                  metadata:
                    RequiredLicence:
                    - provider: WebsiteAccess
                      value: FINBOURNE
            schema:
              additionalProperties:
                $ref: '#/components/schemas/EvaluationRequest'
              type: object
          application/*+json:
            example:
              data-access-page-evaluation:
                request:
                  action:
                    entityCode: WebSitePage
                    scope: FINBOURNE
                    activity: SeeAdminControls
                  toEffectiveDate: 2018-12-08T13:30:00.0000000+00:00
                  toAsAt: 2018-12-31T11:00:00.0000000+00:00
                resource:
                  id:
                    scope: FINBOURNE
                    code: DataAccessPage
                  metadata:
                    RequiredLicence:
                    - provider: WebsiteAccess
                      value: FINBOURNE
            schema:
              additionalProperties:
                $ref: '#/components/schemas/EvaluationRequest'
              type: object
        description: "A dictionary of evaluations, keyed using any arbitrary correlation\
          \ id (it will be returned with the response for that evaluation)."
        required: true
      responses:
        "200":
          content:
            text/plain:
              example:
                data-acces-page-evaluation:
                  result: DeniedAsLicenceRequired
                  detailedMessage: Access was denied because user is missing licence
                    'A/B'
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/EvaluationResponse'
                type: object
            application/json:
              example:
                data-acces-page-evaluation:
                  result: DeniedAsLicenceRequired
                  detailedMessage: Access was denied because user is missing licence
                    'A/B'
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/EvaluationResponse'
                type: object
            text/json:
              example:
                data-acces-page-evaluation:
                  result: DeniedAsLicenceRequired
                  detailedMessage: Access was denied because user is missing licence
                    'A/B'
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/EvaluationResponse'
                type: object
          description: Run an evaluation against the current user's entitlements
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] Evaluate: Run one or more evaluations"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/metadata/access/resources:
    get:
      description: Get the comprehensive set of resources that are available for access
        control
      operationId: ListAccessControlledResources
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListAccessControlledResources: Get resources available\
        \ for access control"
      tags:
      - Application Metadata
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/policies:
    get:
      description: "Gets all Policies in a scope. For pagination support, use PagePolicies."
      operationId: ListPolicies
      parameters:
      - description: Optional. Will use the default scope if not provided. The requested
          scope
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      - description: Optional. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Order the results by these fields. Use use the '-'
          sign to denote descending order e.g. -MyFieldName
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "Optional. When paginating, skip this number of results"
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "Optional. When paginating, limit the number of returned results\
          \ to this many."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Optional. Expression to filter the result set
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
              - id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/PolicyResponse'
                type: array
            application/json:
              example:
              - id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/PolicyResponse'
                type: array
            text/json:
              example:
              - id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/PolicyResponse'
                type: array
          description: List Policies
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListPolicies: List Policies"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: Creates a Policy
      operationId: CreatePolicy
      requestBody:
        content:
          application/json-patch+json:
            example:
              code: example-policy
              description: Example policy demonstrating their creation
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyCreationRequest'
          application/json:
            example:
              code: example-policy
              description: Example policy demonstrating their creation
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyCreationRequest'
          text/json:
            example:
              code: example-policy
              description: Example policy demonstrating their creation
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyCreationRequest'
          application/*+json:
            example:
              code: example-policy
              description: Example policy demonstrating their creation
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyCreationRequest'
        description: The definition of the Policy
        required: true
      responses:
        "201":
          content:
            text/plain:
              example:
                id:
                  scope: FINBOURNE
                  code: dataset-licence-1
                description: Access to licensed dataset
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: FINBOURNE
                      code: dataset-licence-1
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    name: access-dataset-1
                    description: Licence for dataset 1
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
            application/json:
              example:
                id:
                  scope: FINBOURNE
                  code: dataset-licence-1
                description: Access to licensed dataset
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: FINBOURNE
                      code: dataset-licence-1
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    name: access-dataset-1
                    description: Licence for dataset 1
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
            text/json:
              example:
                id:
                  scope: FINBOURNE
                  code: dataset-licence-1
                description: Access to licensed dataset
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: FINBOURNE
                      code: dataset-licence-1
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    name: access-dataset-1
                    description: Licence for dataset 1
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Created policy
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] CreatePolicy: Create Policy"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/policies/page:
    get:
      description: Gets all Policies with pagination support.
      operationId: PagePolicies
      parameters:
      - description: Optional. Not currently used. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Order the results by these fields. Use the '-' sign
          to denote descending order e.g. -MyFieldName
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Optional. 2000 if not provided. When paginating, limit the number\
          \ of returned results to this many"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 5000
          minimum: 1
          type: integer
        style: form
        x-nullable: true
      - description: Optional. Expression to filter the result set
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: Optional. Paging token returned from a previous result
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
                values:
                - id:
                    scope: default
                    code: official-portfolios-read-only
                  description: Example policy demonstrating the granting of access
                    to some resources
                  applications:
                  - LUSID
                  grant: Allow
                  selectors:
                  - idSelectorDefinition:
                      identifier:
                        scope: official
                      actions:
                      - scope: default
                        activity: Read
                        entity: Portfolio
                      - scope: default
                        activity: Aggregate
                        entity: Portfolio
                      name: access-official-scope
                      description: Allow readonly access to the 'official' scope
                  for:
                  - effectiveRange:
                      from: 2015-12-25T00:00:00.0000000+00:00
                      to: 2020-12-25T00:00:00.0000000+00:00
                  - asAtRangeForSpec:
                      from:
                        dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                      to:
                        value: AsAt=Latest
                  if:
                  - ifRequestHeaderExpression:
                      headerName: organisation.specific.group.header
                      operator: EqualsCaseInsensitive
                      value: special-group
                  when:
                    activate: 2016-08-31T18:00:00.0000000+00:00
                    deactivate: 2020-08-31T18:00:00.0000000+00:00
                href: https://example.lusid.com/access/api/policies/page?filter=&sortBy=&limit=&page=
                links: []
              schema:
                $ref: '#/components/schemas/ResourceListOfPolicyResponse'
            application/json:
              example:
                values:
                - id:
                    scope: default
                    code: official-portfolios-read-only
                  description: Example policy demonstrating the granting of access
                    to some resources
                  applications:
                  - LUSID
                  grant: Allow
                  selectors:
                  - idSelectorDefinition:
                      identifier:
                        scope: official
                      actions:
                      - scope: default
                        activity: Read
                        entity: Portfolio
                      - scope: default
                        activity: Aggregate
                        entity: Portfolio
                      name: access-official-scope
                      description: Allow readonly access to the 'official' scope
                  for:
                  - effectiveRange:
                      from: 2015-12-25T00:00:00.0000000+00:00
                      to: 2020-12-25T00:00:00.0000000+00:00
                  - asAtRangeForSpec:
                      from:
                        dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                      to:
                        value: AsAt=Latest
                  if:
                  - ifRequestHeaderExpression:
                      headerName: organisation.specific.group.header
                      operator: EqualsCaseInsensitive
                      value: special-group
                  when:
                    activate: 2016-08-31T18:00:00.0000000+00:00
                    deactivate: 2020-08-31T18:00:00.0000000+00:00
                href: https://example.lusid.com/access/api/policies/page?filter=&sortBy=&limit=&page=
                links: []
              schema:
                $ref: '#/components/schemas/ResourceListOfPolicyResponse'
            text/json:
              example:
                values:
                - id:
                    scope: default
                    code: official-portfolios-read-only
                  description: Example policy demonstrating the granting of access
                    to some resources
                  applications:
                  - LUSID
                  grant: Allow
                  selectors:
                  - idSelectorDefinition:
                      identifier:
                        scope: official
                      actions:
                      - scope: default
                        activity: Read
                        entity: Portfolio
                      - scope: default
                        activity: Aggregate
                        entity: Portfolio
                      name: access-official-scope
                      description: Allow readonly access to the 'official' scope
                  for:
                  - effectiveRange:
                      from: 2015-12-25T00:00:00.0000000+00:00
                      to: 2020-12-25T00:00:00.0000000+00:00
                  - asAtRangeForSpec:
                      from:
                        dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                      to:
                        value: AsAt=Latest
                  if:
                  - ifRequestHeaderExpression:
                      headerName: organisation.specific.group.header
                      operator: EqualsCaseInsensitive
                      value: special-group
                  when:
                    activate: 2016-08-31T18:00:00.0000000+00:00
                    deactivate: 2020-08-31T18:00:00.0000000+00:00
                href: https://example.lusid.com/access/api/policies/page?filter=&sortBy=&limit=&page=
                links: []
              schema:
                $ref: '#/components/schemas/ResourceListOfPolicyResponse'
          description: Requested list of Policies
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] PagePolicies: Page Policies"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/policies/{code}:
    delete:
      description: Deletes an identified Policy
      operationId: DeletePolicy
      parameters:
      - description: The code of the Policy
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. Will use the default scope if not provided. The scope
          of the Policy
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      responses:
        "204":
          description: No Content
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] DeletePolicy: Delete Policy"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    get:
      description: Gets an identified Policy
      operationId: GetPolicy
      parameters:
      - description: The code of the Policy
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Will use the default scope if not provided. The scope
          of the Policy
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
                id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
            application/json:
              example:
                id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
            text/json:
              example:
                id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Get a specific Policy
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetPolicy: Get Policy"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    put:
      description: Updates a Policy
      operationId: UpdatePolicy
      parameters:
      - description: The code of the Policy
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. Will use the default scope if not provided. The scope
          of the Policy
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              description: Example policy demonstrating their update
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyUpdateRequest'
          application/json:
            example:
              description: Example policy demonstrating their update
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyUpdateRequest'
          text/json:
            example:
              description: Example policy demonstrating their update
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyUpdateRequest'
          application/*+json:
            example:
              description: Example policy demonstrating their update
              applications:
              - LUSID
              grant: Allow
              selectors:
              - idSelectorDefinition:
                  identifier:
                    scope: official
                  actions:
                  - scope: default
                    activity: Read
                    entity: Portfolio
                  - scope: default
                    activity: Aggregate
                    entity: Portfolio
                  name: access-official-scope
                  description: Allow readonly access to the 'official' scope
              for:
              - effectiveRange:
                  from: 2015-12-25T00:00:00.0000000+00:00
                  to: 2020-12-25T00:00:00.0000000+00:00
              - asAtRangeForSpec:
                  from:
                    dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                  to:
                    value: AsAt=Latest
              if:
              - ifRequestHeaderExpression:
                  headerName: organisation.specific.group.header
                  operator: EqualsCaseInsensitive
                  value: special-group
              when:
                activate: 2016-08-31T18:00:00.0000000+00:00
                deactivate: 2020-08-31T18:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/PolicyUpdateRequest'
        description: The updated definition of the Policy
        required: true
      responses:
        "200":
          content:
            text/plain:
              example:
                id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
            application/json:
              example:
                id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
            text/json:
              example:
                id:
                  scope: default
                  code: official-portfolios-read-only
                description: Example policy demonstrating the granting of access to
                  some resources
                applications:
                - LUSID
                grant: Allow
                selectors:
                - idSelectorDefinition:
                    identifier:
                      scope: official
                    actions:
                    - scope: default
                      activity: Read
                      entity: Portfolio
                    - scope: default
                      activity: Aggregate
                      entity: Portfolio
                    name: access-official-scope
                    description: Allow readonly access to the 'official' scope
                for:
                - effectiveRange:
                    from: 2015-12-25T00:00:00.0000000+00:00
                    to: 2020-12-25T00:00:00.0000000+00:00
                - asAtRangeForSpec:
                    from:
                      dateTimeOffset: 2018-01-01T00:00:00.0000000+00:00
                    to:
                      value: AsAt=Latest
                if:
                - ifRequestHeaderExpression:
                    headerName: organisation.specific.group.header
                    operator: EqualsCaseInsensitive
                    value: special-group
                when:
                  activate: 2016-08-31T18:00:00.0000000+00:00
                  deactivate: 2020-08-31T18:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Updated policy
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] UpdatePolicy: Update Policy"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/policycollections:
    get:
      description: "Gets all PolicyCollections in a scope. For pagination support,\
        \ use PagePolicyCollections"
      operationId: ListPolicyCollections
      parameters:
      - description: Optional. Will use the default scope if not provided. The requested
          scope
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      - description: Optional. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Order the results by these fields. Use use the '-'
          sign to denote descending order e.g. -MyFieldName
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "Optional. When paginating, skip this number of results"
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "Optional. 2000 if not provided. When paginating, limit the number\
          \ of returned results to this many."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: Optional. Expression to filter the result set
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
              - id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                items:
                  $ref: '#/components/schemas/PolicyCollectionResponse'
                type: array
            application/json:
              example:
              - id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                items:
                  $ref: '#/components/schemas/PolicyCollectionResponse'
                type: array
            text/json:
              example:
              - id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                items:
                  $ref: '#/components/schemas/PolicyCollectionResponse'
                type: array
          description: Requested list of PolicyCollections
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListPolicyCollections: List PolicyCollections"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: Creates a PolicyCollection
      operationId: CreatePolicyCollection
      requestBody:
        content:
          application/json-patch+json:
            example:
              code: example-policy-collection
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionCreationRequest'
          application/json:
            example:
              code: example-policy-collection
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionCreationRequest'
          text/json:
            example:
              code: example-policy-collection
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionCreationRequest'
          application/*+json:
            example:
              code: example-policy-collection
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionCreationRequest'
        description: The definition of the PolicyCollection
        required: true
      responses:
        "201":
          content:
            text/plain:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            application/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            text/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
          description: Created PolicyCollection
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] CreatePolicyCollection: Create PolicyCollection"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/policycollections/page:
    get:
      description: Gets all PolicyCollections with pagination support.
      operationId: PagePolicyCollections
      parameters:
      - description: Optional. Not currently used. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Order the results by these fields. Use the '-' sign
          to denote descending order e.g. -MyFieldName
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Optional. 2000 if not provided. When paginating, limit the number\
          \ of returned results to this many"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 5000
          minimum: 1
          type: integer
        style: form
        x-nullable: true
      - description: Optional. Expression to filter the result set
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: Optional. Paging token returned from a previous result
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
                values:
                - id:
                    scope: default
                    code: organisation-wide-policies
                  policies:
                  - scope: default
                    code: official-portfolios-read-only
                  - scope: default
                    code: desk-portfolios
                  policyCollections:
                  - scope: default
                    code: CompanyEmployeeAccess
                  description: Collection of organisation wide policies
                href: https://example.lusid.com/access/api/policycollections/page?filter=&sortBy=&limit=&page=
                links: []
              schema:
                $ref: '#/components/schemas/ResourceListOfPolicyCollectionResponse'
            application/json:
              example:
                values:
                - id:
                    scope: default
                    code: organisation-wide-policies
                  policies:
                  - scope: default
                    code: official-portfolios-read-only
                  - scope: default
                    code: desk-portfolios
                  policyCollections:
                  - scope: default
                    code: CompanyEmployeeAccess
                  description: Collection of organisation wide policies
                href: https://example.lusid.com/access/api/policycollections/page?filter=&sortBy=&limit=&page=
                links: []
              schema:
                $ref: '#/components/schemas/ResourceListOfPolicyCollectionResponse'
            text/json:
              example:
                values:
                - id:
                    scope: default
                    code: organisation-wide-policies
                  policies:
                  - scope: default
                    code: official-portfolios-read-only
                  - scope: default
                    code: desk-portfolios
                  policyCollections:
                  - scope: default
                    code: CompanyEmployeeAccess
                  description: Collection of organisation wide policies
                href: https://example.lusid.com/access/api/policycollections/page?filter=&sortBy=&limit=&page=
                links: []
              schema:
                $ref: '#/components/schemas/ResourceListOfPolicyCollectionResponse'
          description: Requested list of PolicyCollections
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] PagePolicyCollections: Page PolicyCollections"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/policycollections/{code}:
    delete:
      description: Deletes an identified PolicyCollection
      operationId: DeletePolicyCollection
      parameters:
      - description: The code of the PolicyCollection
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. Will use the default scope if not provided. The scope
          of the PolicyCollection
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      responses:
        "204":
          description: No Content
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] DeletePolicyCollection: Delete PolicyCollection"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    get:
      description: Gets an identified PolicyCollection
      operationId: GetPolicyCollection
      parameters:
      - description: The code of the PolicyCollection
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. The AsAt date time of the data
        explode: true
        in: query
        name: asAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: Optional. Will use the default scope if not provided. The scope
          of the PolicyCollection
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            application/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            text/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
          description: Requested PolicyCollection
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetPolicyCollection: Get PolicyCollection"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    put:
      description: Updates a PolicyCollection
      operationId: UpdatePolicyCollection
      parameters:
      - description: The code of the PolicyCollection
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. Will use the default scope if not provided. The scope
          of the PolicyCollection
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionUpdateRequest'
          application/json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionUpdateRequest'
          text/json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionUpdateRequest'
          application/*+json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              metadata: {}
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
              description: Example policy collection
            schema:
              $ref: '#/components/schemas/PolicyCollectionUpdateRequest'
        description: The updated definition of the PolicyCollection
        required: true
      responses:
        "200":
          content:
            text/plain:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            application/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            text/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
          description: Updated PolicyCollection
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] UpdatePolicyCollection: Update PolicyCollection"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/policycollections/{code}/add:
    post:
      description: Add Policies and/or PolicyCollections to a PolicyCollection
      operationId: AddToPolicyCollection
      parameters:
      - description: The code of the PolicyCollection
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. Will use the default scope if not provided. The scope
          of the PolicyCollection
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
            schema:
              $ref: '#/components/schemas/AddToPolicyCollectionRequest'
          application/json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
            schema:
              $ref: '#/components/schemas/AddToPolicyCollectionRequest'
          text/json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
            schema:
              $ref: '#/components/schemas/AddToPolicyCollectionRequest'
          application/*+json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
            schema:
              $ref: '#/components/schemas/AddToPolicyCollectionRequest'
        description: Ids of the PolicyCollections and/or Policies to add to the PolicyCollection
        required: true
      responses:
        "200":
          content:
            text/plain:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            application/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
            text/json:
              example:
                id:
                  scope: default
                  code: organisation-wide-policies
                policies:
                - scope: default
                  code: official-portfolios-read-only
                - scope: default
                  code: desk-portfolios
                policyCollections:
                - scope: default
                  code: CompanyEmployeeAccess
                description: Collection of organisation wide policies
              schema:
                $ref: '#/components/schemas/PolicyCollectionResponse'
          description: Updated PolicyCollection
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] AddToPolicyCollection: Add To PolicyCollection"
      tags:
      - Policies
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/policycollections/{code}/remove:
    post:
      description: Remove Policies and/or PolicyCollections from a PolicyCollection
      operationId: RemoveFromPolicyCollection
      parameters:
      - description: The code of the PolicyCollection
        explode: false
        in: path
        name: code
        required: true
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: simple
      - description: Optional. Will use the default scope if not provided. The scope
          of the PolicyCollection
        explode: true
        in: query
        name: scope
        required: false
        schema:
          pattern: "^(?=.*[a-zA-Z])[\\w][\\w +-]{2,100}$"
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
            schema:
              $ref: '#/components/schemas/RemoveFromPolicyCollectionRequest'
          application/json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
              policyCollections:
              - scope: default
                code: CompanyEmployeeAccess
            schema:
              $ref: '#/components/schemas/RemoveFromPolicyCollectionRequest'
          text/json:
            example:
              policies:
              - scope: default
                code: official-portfolios-read-only
              - scope: default
                code: desk-portfolios
[...]
